/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import url('//fonts.googleapis.com/css?family=Allerta+Stencil');



 html {
   background: url("crowd3.jpg")no-repeat center center fixed;
  /*background: url("https://fee.org/media/20484/punkconcert.jpg?anchor=center&mode=crop&height=656&widthratio=2.1341463414634146341463414634&rnd=131303491520000000") no-repeat center center fixed;*/
  /*background: url("https://scontent-iad3-1.xx.fbcdn.net/v/t31.0-8/1795346_10152235761802813_301226876_o.jpg?oh=1cb522805383b5530a5962d9e004e3be&oe=5A59EE67")no-repeat center center fixed;*/
  /*background: url("http://cdn1.theodysseyonline.com/files/2015/12/29/635870211155739293895252305_concert.jpeg") no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
}

 body {
    /*background-color: #EDEDED;*/
    /*background-image: url("https://fee.org/media/20484/punkconcert.jpg?anchor=center&mode=crop&height=656&widthratio=2.1341463414634146341463414634&rnd=131303491520000000");*/
    /*background-size: 100% 100%;*/
    /*background-size: cover;*/
    color: #6b6e70;
    font-family: Arial, Helvetica, sans-serif
  }

.devise {
  text-align: left;
  background-color: #EDEDED;
  margin: 50px 90px;
  padding: 25px;
  font-size: 24px;
  opacity: 0.9;
  border: solid;
  border-radius: 25px;
  border-width: 2px;
  border-color: #d41423;
  float: left;
}

  input {
    width: 100%;
    height: 30px;
    font-size: 24px;
    margin: 5px;
  }




  .button {
    background-color: #d41423;
    padding: 10px;
    color: #ededed;
    width: 100%;
    font-size: 24px;
    border: solid;
    border-color: #d41423;
    margin: 5px;
  }

  .button:hover{
    background-color: #ededed;
    color: #d41423;
  }

  .logo{
    text-align:center;
    color: #ededed;
    background-color: #d41423;
    font-size: 32px;
    opacity: 0.9;
    width: 110%
  }

  .logo img{
    width: 55%;
    padding:15px;
    margin: auto;
  }

  a {
    color: #d41423;
  }
