// Place all the styles related to the concerts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "font-awesome-sprockets";
@import "font-awesome";

.search{
  margin: 50px auto;
  width: 50%;
  position: auto;
  font-size: 24px;
}

.search input {
  height: 50px;
}

.submit {
  width: 33%;
}

.concert-list {
  background-color: #ededed;
  margin: 125px auto;
  font-size: 24px;
  border: solid;
  border-color: #d41423;
  border-radius: 20px;
  padding: 10px;
  text-align: left;
  opacity: 0.9;
}

.concert-list hr {
  border-color: #d41423;
}

.concert-header {
  background-color: #d41423;
  color: #ededed;
  text-align: center;
  font-size: 28px;
  margin: 75px 400px;
  width: 110%;
}

.concert-list table{
  border-spacing: 10px;
}


.hidden {
  display: none;
}

.concert-table {
  text-align: center;
  display: block;
  height: 500px;
}

table {
  border-collapse: separate;
  border-radius: 20px;
}


tbody {
   overflow: auto;
   overflow-y: scroll;
   tr:hover {
     background-color: white;
     color: #d41423;
   }
}

th {
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid #d41423;
}

td {
  padding: 10px;
  border-bottom: 1px solid #d41423;
}

.tickets {
  text-align: center;
}

.lets-go{
  text-align: center;
  background-color: #d41423;
}

.lets-go a{
  color: #ededed;
  margin: auto;
  text-decoration: none;
}

.lets-go a:hover{
  text-decoration: underline;
}
